<div class="message-current-user" id="message-<%= message.id %>">
  <p><%= message.content %></p>
</div>
<p class="very-small white text-right">
  <%= message.created_at.strftime("%a %b %e at %l:%M%p") %>
</p>
