<div class="message-chat-user" id="message-<%= message.id %>">
  <p><%= message.content %></p>
</div>
<p class="very-small white text-left mb-2">
  <%= message.created_at.strftime("%a %b %e at %l:%M%p") %>
</p>
