<div class="message-chat-user" id="message-<%= message.id %>">
  <p class="very-small gray"><%= message.content %></p>
</div>
<p class="very-small white text-left"><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></p>
