// Define variables for your color scheme

// For bootstrap:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;

$green: #1CB99C;
$light-gray: #F4F4F4;

// Planet-exchange colors:

$black: #20201F;
$white: #FCFAF7;
$green1: #1CB99C;#1CB99C
$green2: #29DABA;
$green3: #147C6A;
$blue: #3FBDF0;
$gray: #A3A3A3;

.gray {
  color: $gray;
}

.white {
  color: $white;
}
