.you-may-need {
  background-color: #fcfaf72c;
  padding: 0.8em 0.5em;
  border-radius: 20px;

}

.checkbox-holder {
 display:flex;
 flex-wrap: wrap;
}


.checkbox-holder input {
  opacity: 0;
  position: fixed;
}

.checkbox-holder input:checked + label {
  background: $white;
  color: $green3;
}

.checkbox-item label{
  cursor: pointer;
  border: 3px solid rgba(255,255,255,0.8);
  border-radius:25px;
  padding: 5px 8px;
  margin: 3px;
  p {
    font-size:15px;
  }
}

.calculator {
  background-color: $white;
  padding: 0.8em 0.5em;
  border-radius: 20px;
  color: $green3;
  margin-top: 1em;
}

.calculator-row {
  width: 100%;
}

// info

.info-holder{
  position:relative;
// .info-box-content{
//     display:none;
//   }
.info-box{
  opacity:0.5;
  position:absolute;
  left:59px;
  top:23px;
  cursor: pointer;
  }
  i{
    font-size: 15px;
  }
}

.info-box-content{
  z-index:9;
  position: absolute;
  bottom:10px;
  &.space{

    left:65px;
    border-radius: 25px 25px 25px 0px ;
  }
  &.money{
    left:-97px;
    border-radius: 25px 25px 0px 25px;
  }
  &.carbon{
    left:-76px;
    border-radius: 25px 0px 25px 25px;
  }
  background:rgba(255,255,255,0.8);
  padding: 15px;
  width: 9em;

  p {
    font-size:15px;
  }
 .info-box-content-close{
   text-align:end;
   margin-bottom: 10px;
 }
}
