
.list-container{
  margin-top:20px;
}

.category-icon {
  background-color: $white;
  border-radius: 20px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-icon img {
  max-width: 48px;
  max-height: 48px;
}
