.form-control {
  color: rgba($color: #A3A3A3, $alpha: 0.5);
}

.form-check {
  padding:0;
}

.login-links {
  opacity: 0.5;
}

.login-links a {
  color: $white;
}

.form-border {
  border-top: 1px solid rgba($color: #FFF, $alpha: 0.2);
  padding-top: 1em;
}

.form-control-file {
  padding: 0;
  border-radius: 0;
  color: $white;
}
