* {
  font-family: "Sen", "Helvetica", "sans-serif";
}

:root {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}


body {
  font-family: "Sen", "Helvetica", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 115.19%;
  color: $white;
  background-color: $green1;
  background-image: image-url("background.svg");
  background-position: top center;

  min-height: 100vh;
  min-height: -webkit-fill-available;
}

h1 {
  font-family: "Apfel Grotezk", "Helvetica", "sans-serif";
  font-style: normal;
  font-weight: bold;
  font-size: 68px;
  line-height: 87.19%;
}

h2{
  font-family: "Apfel Grotezk", "Helvetica", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 87.19%;
  margin: 0.3em 0;
}

h3 {
  font-family: "Sen", "Helvetica", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 115.19%;
}

small {
  font-family: "Apfel Grotezk", "Helvetica", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 115.19%;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  display: inline-block;
  margin-bottom: 0.3em ;
}

.container {
  padding-left: 32px;
  padding-right: 32px;
}

input, textarea {
  width: 100%;
  height: auto;
  border: none;
  border-radius: 20px;
  opacity: 0.2;
  color: $white;
  padding: 0.5em 1em;
  margin: 0.5em 0;
}

.form-control {
  border-radius:25px;
}

.progress-bar {
  background: $green ;
}
