.map-container {
  margin-top:2em;
}

#map {
  width: auto;
  height: 300px;
  border-radius: 20px;
}

.map-label {
  color: black;
}

.map-img {
  width: 32px;
  object-fit: cover;
}

.mapboxgl-control-container {
  display: none;
}

.mapboxgl-marker {
  border-radius: 50%;
}

.map-marked {
  // box-shadow: 0px 0px 5px 1px rgba(95, 79, 66, 0.7);
  width: 30px;
}



.item-card-user{
  background-color: white;
  border-radius:50px;
  width:100%;
  padding: 5px;
  margin: 1em 0;
  align-items:center;
  color: $green3;
  a{
    text-decoration:none;
  }
  .icon-user{
    margin-right:10px;
    height:50px;
    width:50px;
    border-radius:50%;
    border: 2px solid $green3;
    background-color: $green3;
    object-fit: cover;
  }
}

.show-up{
  opacity:1;
}
