<%= link_to chatroom_path(chatroom) do %>
  <div class="chat-preview" style="color: white; border-style: solid">
    <% chatroom.users.each do |user|
      @displayed_name = user.username if user != current_user
    end %>
    <%= @displayed_name %><br>
    <% unless chatroom.messages.empty? %>
      <%= chatroom.messages.last.content %>
    <% end %>
  </div>
<% end %>
