<div class="container">
  <h2>Messages</h2>

  <% if @chatrooms === "" %>
  <p>You don’t have any messages yet.<br>
    Find someone to borrow to, <%= link_to "here", search_path %></p>
  <% else %>
    <% @chatrooms.each do |chatroom| %>
      <%= link_to chatroom_path(chatroom) do %>
        <div class="chat-preview">

          <%= chatroom.name %><br>
          <% unless chatroom.messages.empty? %>
            <%= chatroom.messages.last.content %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>

</div>
