<% @chatrooms.each do |chatroom| %>
  <%= link_to chatroom_path(chatroom) do %>
    <div class="chat-preview" style="color: white">
      <h2><%= chatroom.name %></h2>
      <%= chatroom.messages.last.content %>
    </div>
  <% end %>
<% end %>
