<div class="container d-flex flex-column">

  <div class="home-container">
    <div class="logo">
      <h1>Planet Exchange</h1>
      <small>Just borrow it!</small>
    </div>

    <div class="start">
      <small>Start your journey</small>
      <a href="#onboarding" class="btn btn-white">let's go</a>
    </div>
  </div>

  <div class="home-container">
    <div class="logo">
      <h1>Planet Exchange</h1>
      <small>Just borrow it!</small>
    </div>

    <div class="start" id="onboarding">
      <small>Start your journey</small>
      <a href="#" class="btn btn-white">let's go</a>
    </div>
  </div>

</div>
