<div class="container d-flex flex-column">

  <div class="intro-container">
    <div class="logo">
      <h1>Planet Exchange</h1>
      <small>Just borrow it!</small>
    </div>

    <div class="start">
      <small>Start your journey</small>
      <a href="#onboarding" class="btn btn-white">let's go</a>
    </div>
  </div>

  <div class="onboarding-container" id="onboarding">
    <small>how does it work?</small>

    <div class="slides">
      <div class="onboarding" id="explore">
        <img width="100%" height="154px" style="background-color:#666;">
        <h2>Explore</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Iaculis eget integer sit congue auctor at suspendisse sit. Semper integer enim sagittis lobortis aliquam at.</p>
      </div>

      <div class="onboarding" id="store">
        <img width="100%" height="154px" style="background-color:#666;">
        <h2>Store</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iaculis eget integer sit congue auctor at suspendisse sit. Semper integer enim sagittis lobortis aliquam at.</p>
      </div>

      <div class="onboarding" id="save">
        <img width="100%" height="154px" style="background-color:#666;">
        <h2>Save</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iaculis eget integer sit congue auctor at suspendisse sit. Semper integer enim sagittis lobortis aliquam at.</p>
      </div>
    </div>

    <div class="onboarding-next">
      <div class="pagination"><span class="active"></span><span></span><span></span></div>
      <a href="#" id="btn-onboarding" class="btn btn-white">Continue</a>
    </div>

  </div>

</div>
