<h1>Create a new storage room</h1>

<%= simple_form_for @storage do |f| %>
  <%= f.association :items,
                      as: :check_boxes,
                      multiple: true%>
  <%= f.button :submit, "Create storage" %>
<% end %>
