<h1>This is the storage for user <%= @storage.user.username %></h1>

<%# maybe replace this with storage.storageitems.each? %>
<ol>
  <% @storage.items.each do  |item| %>
    <li><%= item.name %></li>
  <% end %>
</ol>
