<h1>This is the storage for user <%= @storage.user.username %></h1>

<%# maybe replace this with storage.storageitems.each? %>
<ol>
  <% @storage.item_storages.each do  |item_storage| %>
    <li><%= item_storage.item.name %></li><%= link_to "edit", edit_item_storage_path(item_storage) %>
  <% end %>
</ol>
