.btn {
  font-family: Sen;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 115.19%;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: $white;
  display: inline-block;
  padding: 24px 48px;
  border-radius: 50px;
  transition: all 0.1s ease-in-out;
}

.btn-white {
  color: $white;
  border: 3px solid $white;
  box-shadow: 0 5px 0 $white;
  &.btn-white:hover, .btn-white:active {
    color: $white;
    -webkit-transform: translate(0px,5px);
    -ms-transform: translate(0px,5px);
    transform: translate(0px,5px);
    box-shadow: 0 0 0 $white;
  }
}

.btn-green {
  color: $green3;
  border: 3px solid $green3;
  box-shadow: 0 5px 0 $green3;
  &.btn-green:hover, .btn-green:active {
    color: $green3;
    -webkit-transform: translate(0px,5px);
    -ms-transform: translate(0px,5px);
    transform: translate(0px,5px);
    box-shadow: 0 0 0 $green3;
  }
}

.big-button {
  color: $green3;
  background-color: $white;
  height: 88px;
  border-radius: 88px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.big-button small {
  max-width: 110px;
}

.big-button img {
  width: 56px;
}

.big-button img.icon {
  width: 32px;
}

.btn-list-white{
  width:100%;
  border-radius: 50px;
  color: $white;
  border: 3px solid $white;
  display:flex;
  justify-content: space-between;
  align-items:center;
  margin: 12px 0;
  padding: 10px 15px;

  small{
    margin:0;
  }
  &.btn-list-white:hover, .btn-list-white:active {
    color: $green3;
    background-color: $white;
    -webkit-transform: translate(0px,5px);
    -ms-transform: translate(0px,5px);
    transform: translate(0px,5px);
  }
}

img.back {
  transform: rotate(180deg);
}

.button-link-white {
  color: $green3;
  background-color: $white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  margin-bottom: 16px;
}

.button-link-white img {
  width: 32px;
}

.button-link-white img.icon {
  width: 16px;
}
