#messages {
  width: 100%;
  background-color: $green;
  margin-top: 104px;
  padding: 16px 32px 108px 32px;
}

.top-chat {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  padding: 16px 32px;
  background-color: #3fbef08c;
  backdrop-filter: blur(6px);
}

.chat-preview {
  background-color: $white;
  color: $green3;
  padding: 0.5em;
  border-radius: 80px;
  height: 80px;
  margin-bottom: 8px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.chat-preview img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
}

.chat-input {
  position: fixed;
  bottom: 38px;
  left: 0;
  width: 100%;
  padding: 4px 32px 20px 32px;
  background-color: #29daba86;
  backdrop-filter: blur(6px);
}

.message-current-user {
  background-color: $white;
  color: $green3;
  padding: 0.7em;
  -webkit-border-radius: 20px;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius: 20px;
  -moz-border-radius-topright: 0;
  border-radius: 20px;
  border-top-right-radius: 0;
  max-width: 80%;
  margin-left: auto;
}

.message-chat-user {
  background-color: $white;
  color:$white;
  padding: 0.7em;
  -webkit-border-radius: 20px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius: 20px;
  -moz-border-radius-topleft: 0;
  border-radius: 20px;
  border-top-left-radius: 0;
  max-width: 80%;
  margin-right: auto;
}
