<div class="container">
  <div class="top-container">
  <h2>Pick a category</h2>
  </div>
  <div class="grid">
      <% @categories.each do |category| %>
        <%= link_to category_path(category) do %>
          <div class="big-button">
            <small><%= category.name %></small>
            <%= cl_image_tag category.photo.key %>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
