<h1>Category: <%= @category.name %></h1>

  <% @category.activities.each do |activity| %>
    <%= link_to activity_path(activity) do %>
    <div class="btn btn-white">
      <small><%= activity.name %></small>
      <%= image_tag("arrow.svg") %>
    </div>
    <% end %>
  <% end %>
