

<h1>Activity: <%= @activity.name %></h1>

<%= simple_form_for @activity do |f| %>
  <%= f.input :name, collection: @activity.items, prompt: 'Select Item', label: false %>
  <%= f.button :submit, "Search" %>
<% end %>
