<div class="container">
  <h2><%= @activity.name %></h1>

  <p>For this activity, you may need</p>
  <%= simple_form_for :search, url: search_path, method: :get do |f| %>
    <%= f.input :item_id, collection: @activity.items, prompt: 'Select Item', label: false %>
    <p>An item is missing ? Search it</p>
    <%= f.submit "Search" %>
  <% end %>
</div>
